@import "tailwindcss";

:root {
  --color-text: #ffffff;
  --color-error: #980000;
  --color-paper: #232323;
  --color-primary: #009688;
  --color-background: #000000;
  --color-primary-contrast: #ffffff;
};

/*Inclusão de cores padrão na página 'page.tsx' */
@theme inline {
  --color-text: var(--color-text);
  --color-erro: var(--color-error);
  --color-paper: var(--color-paper);
  --color-primary: var(--color-primary);
  --color-background: var(--color-background);
  --color-primary-contrast: var(--color-primary-contrast);
}

* {
  @apply outline-primary outline-0 -outline-offset-2;
}

/*O '@' é do tailwind */
html, body {
  overflow: overlay;
  @apply bg-background text-text w-screen h-screen underline-offset-4;
}

a {
  @apply hover:underline active:opacity-50 transition-opacity;
}

/*Caso quiséssemos deixar o tema claro ou escuro*/
/* html[light] {
  --color-text: #000000;
  --color-error: #980000;
  --color-paper: #ffffff;
  --color-primary: #009688;
  --color-background: #cacaca;
  --color-primary-contrast: #ffffff;
} */

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
